*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/com.android.tools.build.gradle-3.5.0/src/gradle-5.4.1/src/*

.idea
gradle/
gradlew.bat
gradlew
